<app-header></app-header>

<div class="relative flex items-center justify-center mt-24">
    <!-- Imagen de fondo -->
    <div class="inset-0 bg-cover bg-center bg-no-repeat w-[104rem] h-[52rem] ml-[13rem] z-0 flex justify-center"
        style="background-image: url('../../../../assets/images/fondo_vistas.jpg');">
        <div class="bg-white w-11/12 h-[44rem] mt-16">

            <div class="flex flex-col sm:flex-row items-center justify-between mt-10 space-y-4 sm:space-y-0">
                <p class="text-2xl md:text-4xl font-semibold ml-4 md:ml-24"> Listado Pacientes </p>
                <!-- Input de buscar -->
                <div class="relative w-full md:max-w-xs ml-auto md:mr-14 border h-10 rounded-xl">
                    <span class="absolute right-4 top-1/2 transform -translate-y-1/2">
                        <i class="fa-solid fa-magnifying-glass" style="color: #00ACC9;"></i>
                    </span>
                    <input type="text" class="w-11/12 h-full pl-4 pr-5 rounded-xl focus:outline-none">
                </div>
                <button (click)="abrirModal()" class="h-10 bg-[#2EBBEE] text-white py-2 px-4 rounded-xl hover:bg-[#32aeda] focus:outline-none mr-8 md:mr-20">
                    Crear
                </button>
            </div>

            <!-- Estilo de la tabla -->
            <div class="flex justify-center">
                <table class="w-11/12 text-sm text-center text-gray-700 rounded-lg overflow-hidden mt-24">
                    <thead class="text-xs uppercase bg-gray-200">
                        <tr>
                            <th scope="col" class="px-6 py-3">Tipo de documento</th>
                            <th scope="col" class="px-6 py-3">N° documento</th>
                            <th scope="col" class="px-6 py-3">Nombre</th>
                            <th scope="col" class="px-6 py-3">Apellido</th>
                            <th scope="col" class="px-6 py-3">Fecha de nacimiento</th>
                            <th scope="col" class="px-6 py-3">Edad</th>
                            <th scope="col" class="px-6 py-3">Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover:bg-gray-50">
                            <td>TI</td>
                            <td>12345678</td>
                            <td>Veronica</td>
                            <td>León Mendez</td>
                            <td>15-02-2015</td>
                            <td>9</td>
                            <td class="px-12 py-4">
                                <i class="fa-solid fa-eye fa-xl" style="color: #000000;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>