<!-- Este archivo contiene el encabezado -->
<div class="w-full h-auto sm:h-[5.5rem] fixed top-0 left-0 z-40 border border-b-gray-200">
    <div class="p-2 flex flex-col sm:flex-row items-center justify-between space-y-2 sm:space-y-0">
        <!-- Input de buscar -->
        <div class="relative w-xl md:max-w-xl mt-4 md:mt-[10px] md:ml-14 border rounded-2xl">
            <span class="absolute left-[85%] top-1/2 transform -translate-y-1/2">
                <i class="fa-solid fa-magnifying-glass text-gray-500"></i>
            </span>
            <input type="text" class="w-full h-10 pl-10 pr-5 rounded-2xl focus:outline-none">
        </div>

        <!-- Botón y campana -->
        <div class="flex items-center space-x-4 md:space-x-10 mt-4 md:mt-0 md:ml-auto md:mr-16">
            <i class="fa-regular fa-bell fa-lg cursor-pointer"></i>
            <!-- <button
                class="h-10 bg-white text-[#00ACC9] py-2 px-4 rounded-xl hover:bg-[#f6f6f6] focus:outline-none">
                Cerrar sesión
            </button> -->
        </div>
    </div>
</div>