<!-- Este archivo contiene el encabezado -->
<div class="w-11/12 h-auto sm:h-[4rem] fixed top-0 left-[207px] z-40 border border-b-gray-200 bg-white">
    <div class="p-2 flex flex-col sm:flex-row items-center justify-between space-y-2 sm:space-y-0">
        <!-- Botón y campana -->
        <div class="flex items-center space-x-4 md:space-x-10 mt-4 md:mt-3 md:ml-auto md:mr-16">
            <p>Nombre Usuario</p>
            <i class="fa-regular fa-bell fa-lg cursor-pointer"></i>
        </div>
    </div>
</div>