<app-header></app-header>

<div class="flex bg-[#f4fbff] min-h-screen justify-center items-center px-4">
  <!-- Imagen de fondo -->
  <div class="flex flex-col items-center w-full sm:w-3/4 lg:w-2/3 px-4 mt-[-8rem] ml-56">

    <div class="w-full"
      #contenedorPrincipal>

      <h1 class="text-5xl text-center mb-6 pt-2 font-mono my-3">Bienvenido al Foro </h1>
      <div class="flex w-full flex-wrap">     
        <!-- Contenedor de los recuadros -->  
        <div class="w-full lg:w-2/3 flex flex-col justify-start lg:pr-4 cont-cont">
          <div *ngFor="let item of foros; let i = index" class="p-4 my-3">
            <div class="bg-sky-100 p-6 rounded-lg shadow-[-2px_3px_9px_rgba(0,0,0,0.3)] cont-tex"
              [ngClass]="{'w-full': screenSmall, 'w-2/3': !screenSmall, 'mr-auto': !screenSmall && i % 2 === 0, 'ml-auto': !screenSmall && i % 2 !== 0}">
              <h2 class="text-lg font-bold mb-2 text-slate-700">{{ item.subtitulo_foro }}
                <button class="ml-1" (click)="editarForoModal(item)"><i
                    class="fa-regular fa-pen-to-square"></i></button>
              </h2>
              <p class="text-gray-600">{{ item.contenido_foro }}</p>
            </div>
          </div>
        </div>

        <!-- Contenedor de la imagen -->
        <div class="hidden lg:flex w-1/3 items-start justify-center p-4">
          <div class="sticky top-4">
            <img src="../../../../assets/images/imagen-ojo.jpg" alt="Imagen" class="object-cover w-48 h-auto">
            <button
              class="absolute -bottom-6 left-1/2 transform -translate-x-1/2 bg-blue-400 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-blue-600"
              (click)="openDialog()">
              <i class="fa-solid fa-plus "></i>
            </button>

          </div>
        </div>

        <!-- Botón Sticky que solo se muestra en pantallas pequeñas -->
        <div *ngIf="isSmallScreen" class="absolute bottom-4 right-1/3 flex justify-center">
          <button class="bg-blue-400 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-blue-600"
            (click)="openDialog()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>