<!-- Este archivo contiene el menú -->
<nav class="sidebar fixed top-0 left-0 h-screen overflow-y-auto flex flex-col p-4 z-10 w-52 border bg-white">

    <!-- Encabezado y botón de colapso -->
    <header class="relative z-20">
        <div class="flex mt-4">
            <img src="../../assets/images/logo_sin_fondo.png" alt="logo">
        </div>
    </header>

    <div class="flex flex-col justify-start md:pt-36 pt-56">
        <ul class="space-y-4">
            <li *ngFor="let item of menuItems" class="group h-12 flex items-center z-20 hover:bg-[#2EBBEE] rounded-[5px] hover:text-white">
                <a [routerLink]="item.route"
                   routerLinkActive="bg-[#2EBBEE] text-white" 
                   class="appearance-none no-underline flex items-center w-full h-full p-1.5 rounded-md">
                    <i class="{{item.icon}} text-center text-xl min-w-[60px] pr-[20px]"></i>
                    <span class="text nav-text text-base ">{{ item.name }}</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Botón de Cerrar sesión -->
    <!-- <div class="containerLogout">
        <li class="flex items-center mt-2 h-14">
            <a 
                class="appearance-none no-underline flex justify-center items-center w-full h-full p-2 rounded-md transition-all duration-400">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px;"
                    class="text-center group-hover:text-white text-xl min-w-[60px] transition duration-200"
                    fill="currentColor" viewBox="0 0 512 512">
                    <path
                        d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9C362.9 96 371.5 99.5 377.9 105.9zM32 64c0-17.7 14.3-32 32-32h160c17.7 0 32 14.3 32 32S241.7 96 224 96H96V416h128c17.7 0 32 14.3 32 32s-14.3 32-32 32H64c-17.7 0-32-14.3-32-32V64z" />
                </svg>
                <span class="mr-16 text-base text nav-text">Cerrar Sesión</span>
            </a>
        </li>
    </div> -->
</nav>