<!-- Diseño de modal para registrar Hijos -->
<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg ml-48 w-[70%] md:w-[70%] lg:w-[35%] p-6 max-h-[85vh] h-[50hv]">
        <h2 class="text-xl font-bold mb-4 text-center mt-6">Registro del hijo</h2>

        <form>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mt-7 ml-12">

                <!--TIpo de documento -->
                <div class="mb-4">
                    <label for="" class="block text-sm font-medium text-gray-700">Tipo de documento</label>
                    <select id="" name=""
                        class="mt-1 block w-full md:w-[95%] lg:w-10/12 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        required>
                        <option>

                        </option>
                    </select>
                </div>

                <!-- Id -->
                <div class="mb-4">
                    <label for="" class="block text-sm font-medium text-gray-700">N° documento</label>
                    <input type="text" id="" name=""
                        class="mt-1 block w-full md:w-[95%] lg:w-10/12 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        required>
                </div>

                <!-- Nombre -->
                <div class="mb-4">
                    <label for="" class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input type="text" id="" name=""
                        class="mt-1 block w-full md:w-[95%] lg:w-10/12 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        required>
                </div>

                <!-- Apellido -->
                <div class="mb-4">
                    <label for="" class="block text-sm font-medium text-gray-700">Apellido</label>
                    <input type="text" id="" name=""
                        class="mt-1 block w-full md:w-[95%] lg:w-10/12 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        required>
                </div>

                <!-- Fecha de nacimiento -->
                <div class="mb-4">
                    <label for="" class="block text-sm font-medium text-gray-700">Fecha de nacimiento</label>
                    <input type="date" id="" name=""
                        class="mt-1 block w-full md:w-[95%] lg:w-10/12 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        required>
                </div>

                <!-- Edad -->
                <div class="mb-4">
                    <label for="" class="block text-sm font-medium text-gray-700">Edad</label>
                    <input type="text" id="" name=""
                        class="mt-1 block w-full md:w-[95%] lg:w-10/12 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        required>
                </div>

                <!-- Género -->
                <div class="mb-4">
                    <label for="" class="block text-sm font-medium text-gray-700">Género</label>
                    <input type="text" id="" name=""
                        class="mt-1 block w-full md:w-[95%] lg:w-10/12 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        required>
                </div>
            </div>

            <!-- Botones -->
            <div class="flex justify-end mt-6">
                <button (click)="cerrar()" type="button"
                    class="bg-[#80BA27] hover:bg-[#7cb02d] text-white font-bold py-2 px-4 rounded mr-2">Cancelar</button>
                <button type="submit"
                    class="bg-[#00ACC9] hover:bg-[#0194ad] text-white font-bold py-2 px-4 rounded">Crear</button>
            </div>
        </form>
    </div>
</div>