.circulo {
    position: relative;
}

.circle {
    width: 50px; /* Tamaño base del círculo */
    height: 50px;
    border: 2px solid orange; /* Borde del círculo */
    border-radius: 50%;
}

.oculto {
    border: none;
}

@media (min-width: 1024px) {
    .circle {
        width: 70px; /* Tamaño más grande en pantallas grandes */
        height: 70px;
    }
}

.overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 9999; display: none; }

.loading-text {
    font-size: 2rem;  /* Tamaño del texto */
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db; /* Color del ícono */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }