<app-header></app-header>

<div class="relative flex items-center justify-center mt-24">
    <!-- Imagen de fondo -->
    <div class="inset-0 bg-cover bg-center bg-no-repeat w-[104rem] h-[52rem] ml-[13rem] z-0 flex justify-center"
        style="background-image: url('../../../../assets/images/fondo_vistas.jpg');">
        <div class="bg-white w-11/12 sm:h-[44rem] max-w-full mt-16 rounded-lg flex flex-col items-center justify-start overflow-auto">
        <!--<div class="bg-white w-full max-w-5xl h-auto sm:h-[44rem] mt-16 rounded-lg flex flex-col items-center justify-center overflow-auto p-4 sm:p-8">-->
            
            <!-- Título del formulario -->
            <h1 class="text-4xl text-center mb-6 pt-2">Llena la Información Visual de tu Hijo</h1>  

            <!-- Contenedores con texto y botones -->
            <!--<div class="space-y-5 w-1/2 md:max-w-full">-->
            <div class="space-y-5 w-full sm:w-3/4 md:w-3/4 lg:w-1/2 mx-auto">

                <div *ngFor="let tema of temas; let i = index" class="flex justify-between items-center p-2 bg-white rounded-lg border-solid border-stone-300 border shadow-[3px_5px_2px_rgba(0,0,0,0.1)]">
                    <p class="text">{{ tema.texto }}</p>
                    <div class="flex space-x-2 pl-4">

                        <button class="like-btn bg-blue-300 hover:bg-blue-600 text-white rounded-full p-2 transition duration-200 ease-in-out" [ngClass]="{'bg-blue-600': tema.calificado && tema.respuesta === 'like', 'bg-blue-300': !tema.calificado || tema.respuesta !== 'like'}" (click)="calificarTema(i, 'like')">
                            <img width="40" height="40" src="https://img.icons8.com/stickers/50/facebook-like.png" alt="facebook-like"/>
                        </button>

                        <button class="dislike-btn bg-red-400 hover:bg-red-600 text-white rounded-full p-2 transition duration-200 ease-in-out" [ngClass]="{'bg-red-600': tema.calificado && tema.respuesta === 'dislike', 'bg-red-400': !tema.calificado || tema.respuesta !== 'dislike'}" (click)="calificarTema(i, 'dislike')">
                            <img width="40" height="40" src="https://img.icons8.com/stickers/50/thumbs-down.png" alt="thumbs-down"/>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <!-- Botón centrado -->
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="tomarDatos()">
                      ENVIAR
                    </button>
                </div>

                <canvas id="gaugeChart" width="400" height="200"></canvas>
                
            </div>        
        </div>
    </div>
</div>