<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">

	<div class="bg-white rounded-lg w-[70%] md:w-[70%] lg:w-[35%] p-6 max-h-[76vh] h-[50hv] overflow-y-auto"
		(keydown.enter)="tomarDatos()">

		<h2 *ngIf="!editar" class="text-2xl font-bold text-[#396CB3]">{{ rolUsuarioActual === 2 ? 'Visualizar el Tema' : 'Crear Nuevo Tema' }}</h2>
		<h2 *ngIf="editar" class="text-2xl font-bold text-[#396CB3]">Editar Tema Seleccionado</h2>

		<form (ngSubmit)="tomarDatos()" [formGroup]="foroForm">

			<div class="mt-4">
				<label class="block text-base font-medium">Título</label>
				<input type="text" formControlName="titulo" [readOnly]="readonlyRol"
					class="mt-1 block w-full border border-[#5cc7ee] rounded-md p-2 focus:outline-none"
					placeholder="Escriba el título para este mensaje..." />
				<div *ngIf="foroForm.get('titulo')?.hasError('required') && foroForm.get('titulo')?.touched"
					class="text-red-500 font-medium text-sm">
					Este campo es requerido
				</div>

			</div>

			<div class="mt-4">
				<label class="block text-base font-medium">Contenido</label>
				<textarea rows="4" formControlName="contenido" [readOnly]="readonlyRol"
					class="mt-1 block w-full border border-[#5cc7ee] rounded-md p-2 resize-none focus:outline-none"
					placeholder="Escriba el texto que contendra..."></textarea>
				<div *ngIf="foroForm.get('contenido')?.hasError('required') && foroForm.get('contenido')?.touched"
					class="text-red-500 font-medium text-sm">
					Este campo es requerido
				</div>
			</div>

			<!-- Contenedor responsive para la imagen -->
			<div *ngIf="rutaImagenForo && rutaImagenForo !== '' && !imageError" class="mt-4 flex justify-center items-center">
				<div class="relative w-full h-64 max-h-64 bg-gray-200 rounded-md overflow-hidden">
				<img [src]="'http://127.0.0.1:8000/storage/' + rutaImagenForo" alt="{{ nombreImagenError }}" (error)="onImageError()"  
					class="absolute top-0 left-0 w-full h-full object-contain">
				</div>
			</div>

			<!-- Mensaje de alerta si la imagen no fue encontrada -->
			<div *ngIf="imageError" class="mt-4 text-red-500 font-medium text-sm">
				La imagen no pudo ser cargada.
			</div>

			<!-- Estilos para subir la imagen -->
			<div class="mt-4" *ngIf="rolUsuarioActual == 1">
				<label class="block text-base font-medium">Imagen</label>

				<!-- Área de arrastre de archivos -->
				<div class="mt-2 block w-full border-2 border-dashed border-[#5cc7ee] rounded-md p-4 text-center cursor-pointer"
					(dragover)="onDragOver($event)" (drop)="onDrop($event)" (click)="fileInput.click()"
					(click)="$event.stopPropagation()">
					<p class="text-gray-500">Haga clic para subir o arrastre y suelte la imagen</p>
					<input type="file" accept="image/*" #fileInput (change)="onFileSelected($event)" class="hidden" />
					<!-- Mostrar la imagen seleccionada -->
					<div *ngIf="selectedImage" class="mt-4 flex flex-col items-center">
						<img [src]="selectedImage" alt="Imagen seleccionada"
							class="p-2 w-1/2">
					</div>
				</div>
			</div>

			<div class="mt-6 flex justify-end">
				<button (click)="cerrar()" type="button"
					class="bg-[#EF7A38] hover:bg-[#ef691e] text-white font-bold py-2 px-4 rounded mr-2">{{ rolUsuarioActual === 2 ? 'Cerrar' : 'Cancelar' }}
				</button>
				<button *ngIf="rolUsuarioActual == 1" type="submit"
					class="bg-[#15b3ec] text-white px-4 py-2 rounded-md font-bold hover:bg-[#00a0d9]">Confirmar</button>
			</div>
		</form>
	</div>
</div>