<app-header></app-header>

<div class="flex bg-[#f4fbff] min-h-screen justify-center items-center px-4">
    <!-- Contenedor de la tabla -->
    <div class="flex flex-col items-center w-full sm:w-3/4 lg:w-2/3 px-4 mt-8 ml-56">
        <div class="w-full">
            <!-- Título y barra de búsqueda -->
            <div class="flex flex-col sm:flex-row justify-between items-center w-full p-4 mb-8">
                <p class="text-2xl md:text-4xl font-semibold sm:ml-4 md:ml-0 text-center sm:text-left">Equipo de trabajo
                </p>

                <!-- Input de buscar -->
                <div class="relative w-full md:max-w-64 ml-auto border h-10 rounded-xl"
                    [ngClass]="{'md:mr-4': !botonVisible, 'mr-0': botonVisible}">
                    <span class="absolute right-4 top-1/2 transform -translate-y-1/2 cursor-pointer"
                        (click)="buscarRegistroUsuario()">
                        <i class="fa-solid fa-magnifying-glass" style="color: #00ACC9;"></i>
                    </span>
                    <input type="text" class="w-full h-full pl-4 pr-5 rounded-xl focus:outline-none"
                        [(ngModel)]="inputDatoBusqueda">
                </div>

                <i class="fa-solid fa-rotate-right md:mr-14 ml-1 cursor-pointer" (click)="ocultarBotonBusqueda()"
                    [ngClass]="{'invisible': !botonVisible, 'cursor-default': !botonVisible}"
                    style="color: #00ACC9;"></i>

                <button (click)="abrirModal()"
                    class="h-10 bg-[#2EBBEE] text-white text-lg font-semibold py-2 px-4 rounded-xl hover:bg-[#15b3ec] focus:outline-none mr-8 md:mr-0 mt-4 sm:mt-0 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-plus mr-2">
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                    </svg>
                    Crear
                </button>
            </div>

            <!-- Tabla -->
            <div class="overflow-x-auto max-h-[500px] overflow-y-auto rounded-lg bg-white shadow-md mb-4">
                <table class="w-full text-sm text-center text-gray-700">
                    <thead class="text-xs uppercase bg-[#E1F3FE] text-[#396CB3]">
                        <tr>
                            <th scope="col" class="px-6 py-3">N° documento</th>
                            <th scope="col" class="px-6 py-3">Nombre</th>
                            <th scope="col" class="px-6 py-3">Apellido</th>
                            <th scope="col" class="px-6 py-3">Teléfono</th>
                            <th scope="col" class="px-6 py-3">Correo electrónico</th>
                            <th scope="col" class="px-6 py-3">Desactivar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: cantreg, currentPage: p }"
                            class="hover:bg-gray-50">
                            <td>{{ usuario.documento }}</td>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.apellido }}</td>
                            <td>{{ usuario.telefono }}</td>
                            <td>{{ usuario.email }}</td>
                            <td class="px-12 py-4">
                                <i *ngIf="usuario.activo === 0" class="fa-solid fa-toggle-off fa-xl cursor-pointer"
                                    style="color: #E1F3FE;" title="Inactivo"
                                    (click)="desactivarAdministrador('inactivo', usuario.documento)"></i>
                                <i *ngIf="usuario.activo === 1" class="fa-solid fa-toggle-on fa-xl cursor-pointer"
                                    style="color: #ff834d;" title="Activo"
                                    (click)="desactivarAdministrador('activo', usuario.documento)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Paginación -->
            <div class="flex justify-center mt-4">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>